body {
    margin:0;
    padding:10px 0 0 20px;
    font-size: 14px;
}
#permission_warning .warning_content {
    border: 2px solid #E5CC88;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    clear: both;
}
#permission_warning .warning_content p {
    margin: 3px 0;
}
a {
    color:#6699cc;
}
input[type=text]#url {
    display: inline-block;
    min-width:350px;
    margin-left: 5px;
}
input[type=checkbox] {
    margin: 0 0 0 5px;
    display: inline-block;
    position: relative;
    top: 2px;
}

/**
 * Prefer dark scheme & browser theme set by user, but do light mode if user explicitly choses it
 */
body {
    background:#2b2b2b;
    color:#d3d0c8;
}
body.light {
    background:#f2f0ec;
    color:#2d2d2d;
}
@media (prefers-color-scheme: dark) {
    body {
        background:#2b2b2b;
        color:#d3d0c8;
    }
    body.light {
        background:#f2f0ec;
        color:#2d2d2d;
    }
}